@charset "utf-8";

/* HTML resets */
body, html, div, p, img, h1, h2, h3, h4, h5, h6, ol, ul, li { margin: 0; padding: 0; font-weight: normal; font-size: 100%; outline: none; border: none;}

/* HTML5 block elements */
header, section, article, footer, aside, nav { display: block; }

body {
    height:100%;
}
/* Put your styles below here */
#wrapper { 
    margin: 0 auto;
    padding: 1em 0em 1em 1em;
    max-width:912px;
    h2, h3 {
       margin-top:0; 
       margin-bottom:0.4em;
    }
    article {
        margin-right:2em;
        margin-bottom:2em;
        h3 {
            font-weight:bold;
            font-size: 1em;
        }
        section {
            &.main{
                width: 420px;
                float:left;
                margin-right:20px;
            }
            &.project-gallery-item{
                width:200px;
                font-size:0.7em;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
                
                &.projects-addition{
                    background-color:#444;
                    width:180px;
                    height:130px;
                    color: white;
                    padding:10px;
                                        
                    a, h3{
                        font-size:2em;
                        display:block;
                        color: white;
                        text-decoration:none;
                    }
                    
                    
                    div {
                        &.flickr-badge {
                            width:180px;
                            height:130px;
                            margin:auto;
                            text-align: center;
                            overflow:hidden;
                            position:relative;
                            a {
                                position: absolute;
                            }
                        }
                        &.flickr-hint {
                            background-color: black;
                            opacity: 0.5;
                            margin-top:-1em;
                        }
                }
            }
        }
        }
        &.project-description{
            width:27em;
        }
        &.gallery {
            width: 600px;
            img {
                margin-bottom: 2em;
            }
        }
    }
    nav.project-gallery {
        width: auto;
        max-width: 50em;
        height: auto;
        display:block;
        float:left;
        margin-top:0;
        
        div.project-gallery-item{
            width:200px;
            float: left;
            margin-right: 1em;
            margin-bottom: 1em;
            padding:0.1em;
        }
        
        a {
            display:block;
            width:auto;
            height:auto;
            float:left;
            text-decoration:none;
            font-size:.8em;
            color:white;
            div.project-name {
                padding-left:0.3em;
            }
        }
       
    }
    
}

body { font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; }

header { 
	margin-top: 1em;

	#navigation {
		text-transform: lowercase;  
		font-size: 0.8em;
		width:200px;
		li:not(:last-child):after { content: " /"; }
		ol {
		    width:auto;
		}
		a { color: #444; display:inline; }
		a:hover { text-decoration: underline; }
		
	}
}


nav li { display: inline; list-style-type: none; }

nav, footer { margin: 1em 0;}
footer{
    clear:both;
}

/* Typesetting */
h1, h2, h3, h4, h5, h6 { margin: 1.25em 0; }

h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 0.9em; }

a { color: #256ec4; }
p { font-size: 0.8em; line-height: 140%; margin-bottom: 10px; color: #333;}

.clear{ clear: both; }

